---
interface Props {
    className: string;
    parent?: string
}

const { className, parent } = Astro.props
---

<div>
    <a href="./reference/{className}">{className}</a> : <a href="./reference/{parent}">{parent}</a>
</div>

