---
interface Props {
    className: string;
    parent?: string
}

const { className, parent } = Astro.props
---

<div>
    <a href={ '../../reference/'.concat(className.toLowerCase()) }>{className}</a> : 
    <a href={ '../../reference/'.concat(parent.toLowerCase()) }>{parent}</a>
</div>

